# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
/media/
staticfiles/

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Migrations cache (optional if needed)
# */migrations/__pycache__/